.nav {
  position: fixed;
  background-color: teal;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.outer.container {
  width: 100vw;
  overflow-x: scroll;
}

.para_container {
  display: flex;
  width: fit-content;
  justify-content: start;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dancing Script", cursive;
}

#paragraph {
  padding-top: 20px;
}

h2 {
  text-align: center;
  color: red;
}

p {
  border: 2px solid red;
  width: 100px;
  margin-right: 20px;
}

#upper_alpha {
  list-style-type: upper-alpha;
}

img {
  width: 300px;
}

.unordered ul {
  background-color: aqua;
}

p,
ul,
ol,
h2 {
  text-align: center;
}

ul,
ol {
  list-style-position: inside;
}

p {
  border: 2px solid red;
  width: 100px;
}

.para_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .nav {
    flex-direction: column;
  }

  #paragraph {
    padding-top: 100px;
  }
}

@media screen and (max-width: 900px) {
  .para_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
